.titulo{
    color: white;
    font-size: 85px;
    margin:0 auto;
    width: 500px;
    display: flex;   
}

.barranav{
    font-style:normal;
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    font-size: 27px;   
    
}

.barranav li :hover{
    background-color: rgba(138, 138, 138, 0.637);
}


.barranav li a{
    text-decoration: none;
    color: white;
}

body{
    background-color:#bdbfc29d;
}
a{
    text-decoration: none;
}

.tituloshome{
    color: white;
    background-color: black;
    width:fit-content;
    height: auto;
    text-decoration: underline white 0.5px;
}

.noticiashome, .noticias{
    display: flex;
    flex-direction: column;
    align-items: center;   

}

.articulo{
    display: flex;
    align-self: center;
    width: 700px;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 20px 0px;
    border: 2px ridge black;
    padding: 0px 10px 20px 10px;
    
}

input::-webkit-outer-spin-button, /* quitar las flechas del input numero*/
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.head{
    background-color: black;
    display: flex;
    align-items: center;   
}

.head h1{
    margin-right: 0;
}
.head img{
    margin-left: 0;
    display: block;   
    margin-right: 27%;
}
.epigrafe{
    font-size: 18px;
    font-weight: bold;
}

.piedepag{
    text-align: end;
    font-style: oblique;
}

.encabezado h1{
    background-color: black;
    color: white;
    width: fit-content;
    font-size: 40px;
}

.resaltado{
    font-weight: bold;
    font-style: italic;
    background-color: rgb(235, 88, 88)
}

.cuerponoticia{
    font-size: 19px;
}

.tabla{
    display: flex;
    justify-content: center;
}

table, td, th{
    border: 1px solid black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

thead{
    background-color: black;
    color: white;
}

.tit-seccion{
    font-size: 30px;
    color: white;
    background-color: black;
    width:fit-content;
    text-align: center;

}

.captcha{
    color: white;
    background-color: black;
    width: fit-content;
}